<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /advance_india_insurance/

    # Force HTTPS only on non-localhost
    RewriteCond %{HTTP_HOST} !^localhost
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Rewrite all requests to index.php if file/folder doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>